.admonition {
    border-radius: 6px !important;
}

.figure {
    border: solid 1px #ccc;
    border-radius: 6px;
    display: block;
    /* font-family: Oswald; */
    font-size: 90%;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
    padding-bottom: 1em;
    text-align: center;
}

h1 {
    /* color: var(--md-default-fg-color--light) !important; */
    font-family: Oswald !important;
    font-size: 3.4em !important;
    font-weight: 600 !important;
    margin: 0 !important;
}

[data-md-color-scheme="default"] h1 {
    color: #0061af !important;
}

/*[data-md-color-scheme="slate"] h1 {
    color: #ffffff !important;
}*/

h2 {
    /* color: var(--md-default-fg-color--light) !important; */
    font-family: Oswald !important;
    font-size: 2.5em !important;
    font-weight: 400 !important;
    padding-top: 0.3em;
}

h3 {
    /* color: var(--md-default-fg-color--light) !important; */
    font-family: Oswald !important;
    font-size: 2.2em !important;
    font-weight: 300 !important;
    padding-top: 0.1em;
}

h4 {
    /* color: var(--md-default-fg-color--light) !important; */
    font-family: Oswald !important;
    font-size: 1.7em !important;
    font-weight: 300 !important;
    padding-top: 0.1em;
}

.highlighttable .linenos {
    font-size: .90em !important;
}

[data-md-color-scheme="slate"] .gslide-image img {
    /* background: #22252a; */
    background: #2e303e;
}

[data-md-color-scheme="default"] .gslide-image img {
    background: #fff;
}

.gslide-media {
    box-shadow: none !important;
}

img {
    padding: 2em;
    padding-bottom: 1em;
}

img.alice {
    /* margin-top: -3.5em; */
    padding: 0;
    width: 32%;
}

.md-nav {
    /* font-family: Oswald !important; */
    font-size: 0.77rem;
}

/* Old style admonitions */

/* .md-typeset .admonition,
.md-typeset details {
    border-width: 0;
    border-left-width: 4px;
} */

.md-typeset code {
    font-size: 0.90em !important;
    font-variant-ligatures: normal;
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color: #0061af !important;
    --md-code-bg-color: #efefef;
}

[data-md-color-scheme="slate"] {
    /* --md-hue: 222; */

    /* == #22252a */
    /* --md-default-bg-color: hsla(var(--md-hue), 11%, 15%, 1); */
    --md-primary-fg-color: #0061af !important;

    --md-code-bg-hue: 133;
    /* --md-code-bg-color: hsla(var(--md-hue), 15%, 15%, 1); */
    /* --md-code-bg-color: hsla(var(--md-hue), 5%, 25%, 0.5); */

    /* GitHub */
    /* --md-default-bg-color: #0d1117; */
}